#container-review{
	background-color:rgba(200, 200, 200, 0.9);
}

#container-reviews{
	margin-top:30px;
}

#col-rev{
	margin:15px;
}

.card-text{
	font-size:12px;
}

#review-format{
	margin-left:50px;
	margin-right:50px;
}